{{!< default}}

<header>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-12">
				<div class="pull-left">
					<div class="header-profile">
					</div>
				</div>
				<div class="pull-left">
					<div class="header-title">
						<h1 class="primary">Bastian Geneugelijk</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="header-intro">
					<h3 class="light">I am a maker of digital products currently living in Amsterdam.<br/><br/>
						As a data scientist with originally an interaction design background,<br/>I enjoy working with machine learning data problems that require human input. 
				</div>
			</div>
		</div>
	</div>
</header>

<section class="coffee-table">
	<div class="container">

		<div class="row">
			<a href="/blog.html">
				<div class="col-md-8 col-md-offset-2 col-xs-12 blog-banner-outerbox">
					<div class="blog-banner-box">
						<div class="row">
							<div class="col-md-9 col-sm-9">
								<div class="content">
									<p>Recently, I started to share some of my technical implementations and prototypes.</p>
								</div>
								
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="cta">
									<div class="text">THE BLOG</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="row">
			<a href="./ovassistant.html">
				<div class="col-md-8 col-md-offset-2 col-xs-12 overview-project">
					<div class="row">
						<div class="col-md-2 col-xs-12 col-sm-2">
							<div class="overview-project-icon concept-project-icon-background">
								<img src="{{asset "img/ovassistant-home.gif"}}" style="width: 100%; height: 100%; border-radius: 3px;"/>
							</div>
							<div class="visible-xs">
								<div class="overview-project-title h3">
										Public Transport Assistant
								</div>
							</div>
						</div>
						<div class="col-md-10 col-sm-10">
							<div class="overview-project-description-outer-box">
								<div class="row">
									<div class="col-md-8 col-sm-7">
										<div class="pull-left overview-project-title-box hidden-xs">
											<div class="overview-project-title h3">Public Transport Assistant</div>
										</div>
										<div class="pull-left overview-project-description-box">
											<div class="overview-project-description">
												<h4 class="overview-project-subtitle light">Delivering alternative travel advice in case of public transport disruptions.</h4>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5">
										<div class="detail-box">
											<p><span class="key">■&nbsp;&nbsp;&nbsp;PROJECT:</span>&nbsp;&nbsp;&nbsp;<span class="value">SELF-INITIATED</span></p>
											<p><span class="key">■&nbsp;&nbsp;&nbsp;DATE:</span>&nbsp;&nbsp;&nbsp;<span class="value">2018</span></p> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="row">
			<a href="https://triplestrife.com">
				<div class="col-md-8 col-md-offset-2 col-xs-12 overview-project">
					<div class="row">
						<div class="col-md-2 col-xs-12 col-sm-2">
							<div class="overview-project-icon triplestrife-overview-project-icon-background">
							</div>
							<div class="visible-xs">
								<div class="overview-project-title h3">
									TripleStrife
								</div>
							</div>
						</div>
						<div class="col-md-10 col-sm-10">
							<div class="overview-project-description-outer-box">
								<div class="row">
									<div class="col-md-8 col-sm-7">
										<div class="pull-left overview-project-title-box hidden-xs">
											<div class="overview-project-title h3 left">TripleStrife</div><div class="outer-link left"></div>
										</div>
										<div class="pull-left overview-project-description-box">
											<div class="overview-project-description">
												<h4 class="overview-project-subtitle light">Ongoing research into a game for manual triple extraction.</h4>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5">
										<div class="detail-box">
											<p><span class="key">■&nbsp;&nbsp;&nbsp;PROJECT:</span>&nbsp;&nbsp;&nbsp;<span class="value">SELF-INITIATED</span></p>
											<p><span class="key">■&nbsp;&nbsp;&nbsp;ROLE:</span>&nbsp;&nbsp;&nbsp;<span class="value">DESIGN</span></p>
											<p><span class="key">■&nbsp;&nbsp;&nbsp;DATE:</span>&nbsp;&nbsp;&nbsp;<span class="value">CURRENT</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="row">
			<a href="./triplets.html">
				<div class="col-md-8 col-md-offset-2 col-xs-12 overview-project">
					<div class="row">
						<div class="col-md-2 col-xs-12 col-sm-2">
							<div class="overview-project-icon triplet-overview-project-icon-background">
							</div>
							<div class="visible-xs">
								<div class="overview-project-title h3">
										Master Thesis Project
								</div>
							</div>
						</div>
						<div class="col-md-10 col-sm-10">
							<div class="overview-project-description-outer-box">
								<div class="row">
									<div class="col-md-8 col-sm-7">
										<div class="pull-left overview-project-title-box hidden-xs">
											<div class="overview-project-title h3">Master Thesis Project</div>
										</div>
										<div class="pull-left overview-project-description-box">
											<div class="overview-project-description">
												<h4 class="overview-project-subtitle light">Semantic Relation Extraction by Human Computation.</h4>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5">
										<div class="detail-box">
											<p><span class="key">■&nbsp;&nbsp;&nbsp;PROJECT:</span>&nbsp;&nbsp;&nbsp;<span class="value">FU BERLIN, INNOVONTO</span></p>
											<p><span class="key">■&nbsp;&nbsp;&nbsp;DATE:</span>&nbsp;&nbsp;&nbsp;<span class="value">2018</span></p> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="row">
			<a href="./animal-trade.html">
				<div class="col-md-8 col-md-offset-2 col-xs-12 overview-project">
					<div class="row">
						<div class="col-md-2 col-xs-12 col-sm-2">
							<div class="overview-project-icon animal-trade-overview-project-icon-background">
							</div>
							<div class="visible-xs">
								<div class="overview-project-title h3">
									Animal Trade - Visualization
								</div>
							</div>
						</div>
						<div class="col-md-10 col-sm-10">
							<div class="overview-project-description-outer-box">
								<div class="row">
									<div class="col-md-8 col-sm-7">
										<div class="pull-left overview-project-title-box hidden-xs">
											<div class="overview-project-title h3">Animal Trade - Visualization</div>
										</div>
										<div class="pull-left overview-project-description-box">
											<div class="overview-project-description">
												<h4 class="overview-project-subtitle light">Visualizing the Legal Trade of Endangered Animal Species.</h4>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5">
										<div class="detail-box">
											<p><span class="key">■&nbsp;&nbsp;&nbsp;PROJECT:</span>&nbsp;&nbsp;&nbsp;<span class="value">UNIVERSITY OF AMSTERDAM</span></p>
											<p><span class="key">■&nbsp;&nbsp;&nbsp;ROLE:</span>&nbsp;&nbsp;&nbsp;<span class="value">DEVELOPMENT</span></p>
											<p><span class="key">■&nbsp;&nbsp;&nbsp;DATE:</span>&nbsp;&nbsp;&nbsp;<span class="value">2018</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="row">
			<a href="./contenttagger.html">
				<div class="col-md-8 col-md-offset-2 col-xs-12 overview-project">
					<div class="row">
						<div class="col-md-2 col-xs-12 col-sm-2">
							<div class="overview-project-icon contenttagger-overview-project-icon-background">
							</div>
							<div class="visible-xs">
								<div class="overview-project-title h3">
									ContentTagger
								</div>
							</div>
						</div>
						<div class="col-md-10 col-xs-12 col-sm-10">
							<div class="overview-project-description-outer-box">
								<div class="row">
									<div class="col-md-8 col-xs-12 col-sm-7">
										<div class="pull-left hidden-xs">
											<div class="overview-project-title h3">ContentTagger</div>
										</div> 
										<div class="pull-left overview-project-description-box">
											<div class="overview-project-description">
												<h4 class="overview-project-subtitle light">ContentTagger makes it easy to provide structured data for your website.</h4>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-xs-12 col-sm-5">
										<div class="detail-box">
											<p><span class="key">■&nbsp;&nbsp;&nbsp;PROJECT:</span>&nbsp;&nbsp;&nbsp;<span class="value">SELF-INITIATED</span></p>
											<p><span class="key">■&nbsp;&nbsp;&nbsp;DATE:</span>&nbsp;&nbsp;&nbsp;<span class="value">2017</span></p>
											<!-- <p><span class="key">DEMO:</span></p> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="row">
			<a href="./saphie.html">
				<div class="col-md-8 col-md-offset-2 col-xs-12 overview-project">
					<div class="row">
						<div class="col-md-2 col-xs-12 col-sm-2">
							<div class="overview-project-icon saphie-overview-project-icon-background">
							</div>
							<div class="visible-xs">
								<div class="overview-project-title h3">
									Saphie
								</div>
							</div>
						</div>
						<div class="col-md-10 col-sm-10">
							<div class="overview-project-description-outer-box">
								<div class="row">
									<div class="col-md-8 col-sm-7">
										<div class="pull-left overview-project-title-box hidden-xs">
											<div class="overview-project-title h3">Saphie</div>
										</div>
										<div class="pull-left overview-project-description-box">
											<div class="overview-project-description">
												<h4 class="overview-project-subtitle light">Connecting volunteers with organizations during events.</h4>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5">
										<div class="detail-box">
											<p><span class="key">■&nbsp;&nbsp;&nbsp;PROJECT:</span>&nbsp;&nbsp;&nbsp;<span class="value">SAPHIE</span></p>
											<p><span class="key">■&nbsp;&nbsp;&nbsp;ROLE:</span>&nbsp;&nbsp;&nbsp;<span class="value">DESIGN,&nbsp;DEVELOPMENT</span></p>
											<p><span class="key">■&nbsp;&nbsp;&nbsp;DATE:</span>&nbsp;&nbsp;&nbsp;<span class="value">2014</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="connect-intro">
					<h3>Connect</h3><br/>
					<button><a href="mailto:bastiangeneugelijk@me.com">Send me an email</a></button>
					<a href="https://twitter.com/BGeneugelijk"><div class="twitter-icon"></div></a>
				</div>
			</div>
		</div>
    
	</div>
</section>